#wrapper{
    width: 100%;
    margin: 0 auto;
}
#header{
    text-align: center;
    width: calc(100% - 2px);
    height: 40px;
    background-color: rgb(226, 239, 217);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

}
#nav{
    width: calc(19% - 2px);
    height: 180px;
    background-color: rgb(226, 239, 217);
    border-right: 1px solid black;
    border-left: 1px solid black;
    float: left;
}
#center{
    width: 55%;
    height: 180px;
    background-color:rgb(226, 239, 217);
    float: left;
}
#section{
  width: calc(26% - 2px);
  height: 180px;
  background-color: rgb(226, 239, 217);
  border-right: 1px solid black;
  border-left: 1px solid black;
  float: left;
}
#footer{
    text-align: center;
    width: calc(100% - 2px);
    height: 40px;
    background-color:rgb(226, 239, 217);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    float: left;
    clear: both;
}